@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #E7F207, #F7D700);
}

form {
  background: #fff;
  width: 50vw;
  min-height: 50vh;
  color: #777474;
  border-radius: 2rem;
  padding: 5rem 3rem;
  display: flex;
}

.title {
  color: #000;
}

.contact-right,
.contact-left {
  flex: 1;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
  top: 0;
}

.input-container {
  position: relative;
}

.placeholder {
  position: relative;
  z-index: 1;
  pointer-events: none;
  padding: .3rem 0;
  opacity: .4;
}

.line-svg {
  position: absolute;
  left: 0;
  bottom: 0;
}

.checkbox-label {
  font-size: .8rem;
}

.promo-container {
  position: relative;
  display: flex;
}

.checkbox {
  opacity: 0;
  cursor: pointer;
}