body {
  font-family:Arial, Helvetica, sans-serif;
}

.centered {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 1000px;
  top: 50%;
  left: 50%;
  zoom: 1;
}

table {
  border-collapse: collapse;
  font-size: 2rem;

  td, th{
    border: 1px solid #ccc;
    padding: 1rem;
  }
}